extends layout

block content
  h1 LANNISTER PAY (TPSS)
  p Welcome to the transaction payment splitting service (TPSS).
  a(href="http://google.com", target="_blank", rel="noopener noreferrer") Documentation
